*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #022152;
}
body::before{
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(to bottom right,#00bbbbd3,#0b757583) ;
    z-index: -1;
}
p{
    font-size: large;
}
h1{
    text-transform: uppercase;
    padding: 1.5rem 0;
}
form{
    padding:4rem;
    background:linear-gradient(to bottom right,#04bbbbd0,#008181d0) ;
    font-weight: 700;
}
form .lab{
    text-transform: uppercase;
}

form .main{
    margin:0 auto;
}
form .sub{
    font-weight: bold;
    color: #ffffff;
    background:#022152;
}
footer{
    padding: 2rem 0;
    font-size: larger;
    font-weight: 700;
}


